<p>Indique su nueva contraseña</p>
<form action="/users/restablecer/{{code}}" method="post">
    <label>Password:</label>
    <input type="password" name="password" placeholder="password">
    <button type="submit">Enviar</button>
</form>