<p>Indique su Email y se le enviara un correo con las instrucciones para restablecer su contraseña</p>
<form action="/users/restablecer" method="post">
    <label>Email:</label>
    <input type="text" name="email" placeholder="email">
    <button type="submit">Enviar</button>
</form>