<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="http://localhost:3000/destinos">Home</a></li>
                
    </ol>
</nav>


<form action="/destinos" method="post">
    <input type="text" name="destino" placeholder="Ciudad">
    <input type="text" name="precio" placeholder="Precio">
    <input type="text" name="fecha_inicio" placeholder="Fecha inicio">
    <input type="text" name="fecha_fin" placeholder="fecha fin">
    <input type="text" name="imagen" placeholder="imagen">
    
    <input type="submit" value="Enviar viaje">
</form>