<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="http://localhost:3000/destinos">Home</a></li>
                
    </ol>
</nav>


<form action="/destinos" method="post">
    <input type="text" name="Destino" placeholder="Ciudad">
    <input type="text" name="Precio" placeholder="Precio">
    <input type="text" name="Fecha_inicio" placeholder="Fecha inicio">
    <input type="text" name="Fecha_fin" placeholder="fecha fin">
    <input type="text" name="Imagen" placeholder="imagen">
    
    <input type="submit" value="Enviar pelicula">
</form>