<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="http://localhost:3000/destinos">Home</a></li>

    </ol>
</nav>

{{#with travel}}
<h1>Destino {{destino}} añadida correctamente</h1>
{{/with}}