


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="http://localhost:3000/destinos/add">Añadir destinos</a></li>
        <li class="breadcrumb-item"><a href="http://localhost:3000/users/logOut">Out</a></li>
        
    
    </ol>
</nav>



<div class="container">
    <div class="row">
        {{#each travels}}
        <div class="col-3">

            <div class="card">
                <img src="{{imagen}}" class="card-img-top" height="150px">
                <div class="card-body">
                    <h5 class="card-title">{{destino}}</h5>
                    <p class="card-text">Precio: {{precio}} €</p>
                    <p>Creado por:{{user.name}}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>

        </div>

        {{/each}}

    </div>
</div>